name: CI build

on: [push, pull_request]

jobs:
  ci_build_job:
    runs-on: ubuntu-latest
    name: Build ccs project
    steps:
        - uses: actions/checkout@v2
        - uses: JenishPatel99/ccsv10-build-action@v3.5